<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <% if (typeof csrfToken !== 'undefined') { %>
    <meta name="csrf-token" content="<%= csrfToken %>">
  <% } %>
</head>
<body>
    <header>
        <h2>PokePC</h2>
        <% if(loggedIn) { %>
           <button class="logout-btn"> Logout </button>
           <script>
            (() => {
                document.querySelector('.logout-btn').
                addEventListener('click', async () => {
                    await fetch('http://localhost:4000/logout', {
                        method: 'POST',
                        credentials: 'same-origin',
                        headers: token ? { 'CSRF-Token': token } : {}
                    }).then( res => window.location.href = '/')
                })
            })()
           </script>
        <% } else { %>
           <h3>login page</h3>
        <% } %>
    </header>